.contentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  position: fixed;
  :global {
    .abs-center {
      height: auto;
      display: flex;
      align-items: center;
      position: fixed;
    }
  }
  .logoHeader {
    display: flex;
    align-items: center;
    
  }
}
